# General
/vendor
/node_modules
/.idea
npm-debug.log
yarn-error.log
.DS_Store

# Laravel & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

